body{
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
    background-color: #033B4D;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 40px ;
    color: whitesmoke;
}

.information-section{
    margin: 50px auto;
    width: 60%;
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-header{
    padding: 10px 0;
    color: whitesmoke;
    font-size: 30px;    
}

.result-information{
    padding: 10px 0;
    color: whitesmoke;
    font-size: 25px;
}