body{
    font-family: 'Roboto',sans-serif;
    margin: 0;
    padding: 0;
    background-color: #033B4D;
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding: 40px ;
    color: whitesmoke;
}

.information-section{
    margin: 50px auto;
    width: 60%;
    border: 10px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-header{
    padding: 10px 0;
    color: whitesmoke;
    font-size: 30px;    
}

.result-information{
    padding: 10px 0;
    color: whitesmoke;
    font-size: 25px;
}

.scoreboard-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border:10px solid white;
    color: whitesmoke;
    width: 60%;
    margin: 30px auto;
}

.scoreboard-section > img{
    width: 100px;
    height: 100px;
}
.player-section,.enemy-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    border: 2px solid red;
}

.score{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid red;
}

.score > div{
    font-size: 40px;
    font-weight: 500px;
    padding: 40px;
}

.weapon-section{
    display:flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    border: 10px solid white;
}

.weapon-section > img{
    width: 250px;
    height:250px;
    border: 2px solid red;
}

.result-section{
    display:flex;
    flex-direction:column;
    width: 60%;
    margin: 60px auto;
    align-items: center;
    border: 10px solid white;
}

.champion-message{
    padding: 20px 0;
    font-size: 30px;
    font-weight: 300px;
    color: whitesmoke;
}

.reset-button{
    padding: 10px ;
    margin-bottom:20px;
}